# Object files
*.o
*.ko
*.obj
*.elf
.*
typhoon
Makefile
config.h
config.log
config.status
ioctlent0.h
ioctlent1.h
ioctlent2.h
stamp-h1
strace
tags
tests-m32/Makefile
tests-mx32/Makefile
tests/Makefile

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
